{#=====Get variable : Config Select Block on header=====#}
{% set hidden_headercenter = soconfig.get_settings('toppanel_type') =='2'? 'hidden-compact' : '' %}
{% set hidden_headerbottom = soconfig.get_settings('toppanel_type') =='1'? 'hidden-compact' : '' %}

<header id="header" class=" variant typeheader-{{ typeheader ? typeheader : '1'}}">
	{{ header_block3 }}
	{#======	HEADER TOP	=======#}  
	<div class="header-top hidden-compact">
		<div class="container">
			<div class="row">
				<div class="header-top-left col-xl-6 col-lg-6 col-md-4 col-sm-4 col-xs-8 col-8">
					{% if soconfig.get_settings('lang_status') %}
					<ul class="top-link list-inline lang-curr">
						{% if currency %}<li class="currency"> {{ currency }} </li> {% endif %}
						{% if language %} <li class="language">{{ language }} </li>	{% endif %}			
					</ul>				
					{% endif %}
					{% if soconfig.get_settings('welcome_message_status') %}
						<div class="hidden-md hidden-sm hidden-xs welcome-msg">
							{% if soconfig.get_settings('welcome_message') is not empty %}
								{{ soconfig.decode_entities( soconfig.get_settings('welcome_message') ) }}
							{% endif %} 
						</div>
					{% endif %}	
					
									
				</div>
				<div class="header-top-right collapsed-block col-xl-6 col-lg-6 col-md-8 col-sm-8 col-xs-4 col-4">					 				
					<ul class="top-link list-inline">
						<li class="hidden-xs"><a href="{{ wishlist }}"  title="{{ text_wishlist }}"><i class="fa fa-heart"></i><span>{{ text_wishlist }}</span></a></li>						 
						<li class="account" id="my_account"><a href="{{ account }}" title="{{ text_account }} " class="btn-xs dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-user"></i> <span class="hidden-xs">{{ text_account }} </span> <span class="fa fa-angle-down"></span></a>
							<ul class="dropdown-menu ">																		
								{% if logged %}
						            <li><a href="{{ account }}">{{ text_account }}</a></li>
						            <li><a href="{{ order }}">{{ text_order }}</a></li>
						            <li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
						            <li><a href="{{ download }}">{{ text_download }}</a></li>
						            <li><a href="{{ logout }}"><i class="fa fa-sign-out" aria-hidden="true"></i> {{ text_logout }}</a></li>
					            {% else %}

						            <li><a href="{{ register }}">{{ text_register }}</a></li>
						            <li><a href="{{ login }}">{{ text_login }}</a></li>
					            {% endif %}															
							</ul>
						</li>																					
							
						{% if soconfig.get_settings('checkout_status') %}
							<li class="checkout hidden-xs"><a href="{{ checkout }} " class="btn-link" title="{{ text_checkout }} "><i class="fa fa-check-square-o"></i><span >{{ text_checkout }} </span></a></li>
						{% endif %} 
						{% if logged %} 
							<li class="hidden-xs log logout"><a class="link-lg" href="{{ logout }} "><i class="fa fa-unlock"></i><span>{{ text_logout }}</span></a></li>
						{% else %}   
							<li class="hidden-xs log login"><a class="link-lg" href="{{ login }} "><i class="fa fa-lock"></i><span>{{ text_login }}</span></a></li>								
						{% endif %}
					</ul>
					
				</div>
			</div>
		</div>
	</div>
	
	{#======	HEADER CENTER	=======#} 
	<div class="header-middle {{hidden_headercenter}}">
		<div class="container">
			<div class="menu-left">					
				{{ content_menu2 }}								
			</div>
			<div class="header-main">
				<div class="row">			
					<div class="navbar-logo col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-12 col-12">
						<div class="logo">
					   		{{soconfig.get_logo()}}
					   	</div>
					</div>
					<div class="middle2 col-xl-6 col-lg-6 col-md-5 col-sm-6 col-xs-7 col-7">					
						<div class="search-header-w">								
							{{ search_block }}						
						</div>			
					</div>
					<div class="middle3 col-xl-3 col-lg-3 col-md-4 col-sm-3 col-xs-5 col-5">
						<div class="shopping_cart">							
						 	{{ cart }}
						</div>						
						<div class="wishlist hidden-xs top-link-wishlist"><a href="{{ wishlist }}" title="{{ text_wishlist }} "><i class="fa fa-heart"></i>{# {{ text_wishlist }} #}</a></div>
						{% if logged %} 
							<div class="logg logout"><a class="link-lg" href="{{ logout }} "> &nbsp; {# {{ text_logout }} #} </a></div>
						{% else %}   
							<div class="logg login"><a class="link-lg" href="{{ login }} "> &nbsp; {# {{ text_login }} #}</a></div>
						{% endif %}
						
					</div>					
				</div>
				<div class="main-menu-w">					
					{{ content_menu1 }}								
				</div>
			</div>
		</div>
	</div>
	
</header>